@media (min-width: 600px) {
    #Introduction::before {
        content: "Introduction to the beautiful sport of Archery";
    }
}

@media (max-width: 599px) {
    #Introduction::before {
        content: "Intro to archery";
      }
}
h1{
  padding: 20px;
  color: rgb(0, 1, 125);
  text-align: center;
  border: 5px ridge rgb(0, 5, 250);
  background-color: rgb(176,169,32)
}
h4{
  color: rgb(0, 27,204);
  border-bottom: 3px solid rgb(5, 26, 208)
}
h3{
  border-bottom: 3px solid rgb(5, 26, 208);
  text-align: center;
}
h5{
  font-size: 18px;
  font-weight: bold;
  text-decoration: underline;
}
body{
   background-image: url("background2.jpg");
    background-size: cover;
    background-attachment: fixed;
}
.grid {

    color: rgb(5, 69, 245);
    display: grid;
    padding: 20px;
    grid-column-gap: 7px;
    grid-row-gap: 2px;
    grid-template-columns: 50% 50% ;
    grid-template-rows: auto auto
}

.grid-item {

    font-size: 20px;
    padding: 20px;
    text-align: center;
}
.grid-item-history{
    color: rgb(5, 26, 208);

    font-size: 20px;
    padding: 20px;
    text-align: center;
}
img{
  width: 100%
}

.grid-item-Facts{
    color: rgb(5, 26, 208);

    font-size: 20px;
    padding: 20px;
    text-align: left;
}

  }
.grid-item-Images{
      color: rgb(5, 26, 208);
      font-size: 20px;
      padding: 20px;
      text-align: center;
    }


      table {
          border: 2px solid rgb(0, 27, 204);

          border-collapse: collapse;
          width: 100%;

      }

      th, td {
        color: rgb(5, 69, 245);
          border: 1px solid rgb(0, 27, 204);
          padding: 5px;
          text-align: left;
      }
      .row{
        color: rgb(5, 69, 245)
      }

    .pics{
      width: 300px
    }
