@media (min-width: 600px) {
    #Introduction::before {
        content: "Introduction to the beautiful sport of Archery";
    }
}

@media (max-width: 599px) {
    #Introduction::before {
        content: "Intro to archery";
      }
}
h1{
  padding: 20px;
  color: rgb(0, 1, 125);
  text-align: center;
  border: 5px ridge rgb(0, 5, 250);
  background-color: lightpink
}
h4{
  border-bottom: 3px solid rgb(5, 26, 208)
}
h3{
  border-bottom: 3px solid rgb(5, 26, 208);
  text-align: center;
}
h5{
  font-size: 18px;
  font-weight: bold;
  text-decoration: underline;
}
body{
  background-color: lightblue
}
.grid {
    background-color: black;
    color: rgb(5, 26, 208);
    display: grid;
    padding: 20px;
    grid-column-gap: 7px;
    grid-row-gap: 2px;
    grid-template-columns: 50% 50% ;
    grid-template-rows: auto auto
}

.grid-item {
    background-color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}
.grid-item-history{
    color: rgb(5, 26, 208);
    background-color: lightgrey;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}
img{
  width: 100%
}

.grid-item-Facts{
    color: rgb(5, 26, 208);
    background-color: rgb(196, 170, 35);
    font-size: 20px;
    padding: 20px;
    text-align: left;
}
.grid-item-Styles{
    color: rgb(5, 26, 208);
    background-color: rgb(48, 164, 244);
    font-size: 20px;
    padding: 20px;
    text-align: center;
  }
.grid-item-Images{
      color: rgb(5, 26, 208);
      background-color: rgb(222, 49, 55);
      font-size: 20px;
      padding: 20px;
      text-align: center;
    }
      .grid-item-table{
          color: rgb(5, 26, 208);
          background-color: rgb(73, 131, 143);
          font-size: 20px;
          padding: 20px;
          text-align: center;
      }
      table {
          border: 2px solid black;
          border-collapse: collapse;
          width: 100%; background-color: rgb(73, 131, 143)
      }

      th, td {
          border: 1px solid black;
          padding: 5px;
          text-align: left;
      }

      th {
          background-color: lightgray;
      }
      .grid-item-table{
          color: rgb(5, 26, 208);
          background-color: rgb(73, 131, 143);
          font-size: 20px;
          padding: 20px;
          text-align: left;
      }
      .grid-item-vids{
            color: rgb(5, 26, 208);
            background-color: rgb(73, 131, 143);
            font-size: 20px;
            padding: 20px;
            text-align: center;
        }
        .grid-item-imgs{
            color: rgb(5, 26, 208);
            background-color: rgb(73, 131, 143);
            font-size: 20px;
            padding: 20px;
            text-align: center;
        }

    .pics{
      width: 300px
    }
